@model IEnumerable<WebSite.Models.TransferViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Transfers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TeamLeftId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeamJoinedId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlayerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoneyAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTransfer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamLeft.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamJoined.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Player.FirstName) @Html.DisplayFor(modelItem => item.Player.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MoneyAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTransfer)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
